# Encrypted USB drive
KERNEL=="sd*", SUBSYSTEMS=="usb", ATTRS{idVendor}=="08ec", ATTRS{idProduct}=="0016", SYMLINK+="storage/crypt%n"
# USB drives
KERNEL=="sd*", SUBSYSTEMS=="usb", SYMLINK+="storage/%k", GROUP="storage"
