# UDISKS_FILESYSTEM_SHARED
# ==1: mount filesystem to a shared directory (/media/VolumeName)
# ==0: mount filesystem to a private directory (/run/media/$USER/VolumeName)
ENV{ID_FS_USAGE}=="filesystem|other|crypto", ENV{UDISKS_FILESYSTEM_SHARED}="0"

# UDISKS_IGNORE
# ==1: overrides the value of the HintIgnore property
#SUBSYSTEM=="block", ENV{ID_FS_UUID}=="F0AE-BB22", ENV{UDISKS_IGNORE}="1"
#SUBSYSTEM=="block", ENV{ID_FS_UUID}=="44e93055-8088-4003-96fd-6fcf0fbfa01a", ENV{UDISKS_IGNORE}="1"
SUBSYSTEMS=="pci", DRIVERS=="nvme|ahci", ENV{UDISKS_IGNORE}="1"
SUBSYSTEMS=="usb", DRIVERS=="uas", ENV{UDISKS_IGNORE}="1"
