# USB drives
KERNEL=="sd*", SUBSYSTEMS=="usb", DEVPATH=="*usb1/1-7*", SYMLINK:="removable/flsh%n"
KERNEL=="sd*", SUBSYSTEMS=="usb", DRIVERS=="usb-storage", SYMLINK+="removable/%k", GROUP="storage"
KERNEL=="sd*", SUBSYSTEMS=="usb", DRIVERS=="ums-realtek", SYMLINK+="removable/sdcard%n", GROUP="storage"
